.note1 {
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    font-size: 20px;
}
.form-content {
    padding: 5%;
    border: 1px solid #ced4da!important;
    margin-bottom: 2%;
}
.form-control {
    border-radius:1.5rem;
}
.btn-primary {
    border-radius: 20px;
    width: 15%;
    background: -webkit-linear-gradient(right, #0072ff, #8811c5)!important;
    border: none!important;

}
.btn-primary:hover {
    background: -webkit-linear-gradient(left, #0072ff, #8811c5)!important;
    border: none!important;
    
}
#final-result {
    text-align: center;
}
.register-form {
    margin-top: 150px;
}